        html{
            box-sizing: border-box;
        }

        *, *::before, *::after{
            box-sizing: inherit;
        }

        body{
            color:#333;
            -webkit-font-smoothing: antialiased;
            font-family: 'Raleway', sans-serif;
            text-align:justify;
        }

        h1{
            
        }

        #result{
            background-color: cadetblue;
            margin: 1em 0;
            color: #fff;
            border-radius: 5px;
            display: none;
            padding: 1em 2em;
        }

        form#form1{
            padding: 2em;
            background-color: #dedede;
            max-width: 1024px;
            margin: 0 auto;
        }
        .form-control{
            position: relative;
            display: flex;
            justify-content: space-between;
            flex-flow: row wrap;
            font-size: 1rem;
        }
        .form-control span{
            font-weight: 600;
            flex: 2 1 0;
            align-items: stretch;
            margin: auto;
        }

        .form-control input.btn{
            text-transform: uppercase;
            font-weight: 600;
            font-size: 1rem;
            cursor: pointer;
            margin: 1em;
            background-color: #fff;
            padding: 1em;
            flex: 1 1 0;
        }

        .form-control input, .form-control .text-area, .form-control select{
            margin: .5em;
            padding: .5em;
            border: 1px solid #dedede;
            flex: 8 1 0;
        }

        .form-control .text-area{
            height:100px;
        }
        #err_msg{
            color: crimson;
            font-weight: 700;
            text-align: center;
            margin: 1em;
        }
        table{
            border-collapse: collapse;
            width:100%;
        }
        th{
            text-align:center;
        }

        table, tr, td,th{
            border:1px solid #dedede;
            padding:1em;
        }

        #faq_content{
            background-color: brown;
            color: #fff;
            padding: 1em 2em;
        }