html {
  box-sizing: border-box;
  color: #2e2e2e;
  background-color: #f0f0f0; }

* {
  box-sizing: inherit; }

.heading {
  text-align: center; }

main {
  display: flex;
  justify-content: center;
  align-items: center; }

.booking {
  width: 700px;
  min-height: 350px;
  background-color: #29ceff;
  padding: 1rem 2rem;
  border-radius: 6px;
  box-shadow: 1px 0 14px 1px; }
  .booking__paragraph {
    font-size: 0.8rem; }

.booking-form {
  display: flex;
  margin-top: 2rem;
  justify-content: space-between;
  flex-grow: 1; }
  .booking-form__image {
    margin-left: 1rem; }
  .booking-form__submit {
    padding: 0.5rem 1.5rem;
    background-color: #fff;
    text-transform: uppercase;
    border: none;
    transition: all 0.2s linear;
    cursor: pointer;
    float: right; }
    .booking-form__submit:hover {
      color: white;
      background-color: #2e2e2e; }

.input-group {
  margin-bottom: 0.5rem;
  display: flex; }
  .input-group input, .input-group select, .input-group textarea {
    padding: 0.3rem 0.5rem;
    border-radius: 4px;
    width: 100%; }
  .input-group label {
    width: 150px;
    display: inline-block; }
